QMainWindow {
    background-color: lightgray;
}

QWidget#verticalLayoutWidget {
    background-color: #707f7c;

    border-right-color: black
}

QWidget #horizontalLayoutWidget {
    background-color: #074473;
    border-left: none;
}

QStackedWidget {
    background-image: url("background MainGrid.jpg");
}

QPushButton{
    background-color: darkslategray;
    color: white;
}

QPushButton#addADevice,#Manual,#Graphs,#Settings,#Info {
    border-style: outset;
    border-right: none;
    border-left: none;
    background-image: None;
    background-color: transparent;
    border-width: 1px;

    border-color: white;
    padding: 2px;
    margin: 0px;
    color: white;
}

QPushButton:hover {
    background-color: gray;
}

QPushButton#addADevice:hover, #Manual:hover, #Graphs:hover, #Settings:hover, #Info:hover {
    background-color: grey;
}

QLabel {
    border: none;
    color: white;
    font-size: medium;
}

QLabel#Logo {
    background: transparent;
    Font-size: 32px;
    margin-left: 10px;
    color: floralwhite;
}

QLabel#TempUp, #Sky {
    background: transparent;
    color: LightGray;
}





